
.el-range-separator {
  width: 8% !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.mutation {
  color: #069fe8;
  margin-right: 12px;
  cursor: pointer;
}
.mb20 {
  margin-bottom: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.ml20 {
  margin-left: 20px;
}
.pd1020 {
  padding: 10px 20px;
  cursor: pointer;
}
.w200 {
  width: 200px !important;
}
.w220 {
  width: 220px;
}
.w235 {
  width: 235px;
}
.w300 {
  width: 300px !important;
}
.w400 {
  width: 400px !important;
}
.w500 {
  width: 500px !important;
}

.modify-btn {
  cursor: pointer;
  color: #66b1ff;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.ml20 {
  margin-left: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.el-table {
  // 解决表格合计行不出现的问题
  overflow: visible !important;
}


.public-page {
  padding: 20px;
}

.search {
  display: flex;
  flex-wrap: wrap;
  div.search-btn {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.form {
  padding: 20px;
}